/*全体の設定*/
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}


/*mixinのコーナー*/
@mixin wrapper {
  display: flex;
  margin:0 auto; 
  max-width: 1280px;
}


/*headerメニュー*/
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 99;

  .wrapper {
    @include wrapper();
    justify-content: space-between;
    padding: 25px 40px 20px 40px;
    

    .logo {
      width: 180px;
      height: 25px;
      img {
        width: 100%;
        height: 100%;

      }
    }
  }
  /*ハンバーガーボタン*/
  .humberger {
     display: block;
     position: fixed;
     z-index: 99;
     right: 0;
     top: 0;
     width: 42px;
     height: 42px;
     cursor: pointer;
     text-align: center;
     position: relative;
    
     .bar {
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      right: 6px;
      background: #555;
      transition: .3s ease-in-out;
     }
  
    .bar-top {
      top: 10px;
    }
      
    .bar-bottom {
      top: 20px;
    }    
  }
  .mask {
    nav {
      ul {
        display: block;
        position: fixed;
        top: 40px;
        left: -500px;
        margin: 0;
        li {
          margin-bottom: 10px;
          a {
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }
  }
}

/*ハンバーガーを開いたとき*/
.active-top {
  transform: translate(-50%, 15px) rotate(45deg);
  transition: transform 0.3s;
}
.active-bottom {
  transform: translate(-50%, 5px) rotate(-45deg);
  transition: transform 0.3s;
}

.open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 100;
  cursor: pointer;
}

/*mainめにゅーだよ*/
main {
  padding: 70px 40px 0 40px;
  position: relative;
  z-index: 1;
  .wrapper {
    @include wrapper();
    justify-content: space-between;
    flex-wrap: wrap;
    
    .production {
      width: 23%;
      padding-bottom: 30px;
      :hover {
        position: relative;
        z-index: 1;
        opacity: 0.8;
        transition: all 0.5s;
      }
      
      
      &-img {
        img {
          width: 100%;
        }
      }

      &-description {
        font-size: 12px;
        margin: 5px 0;
      }
    }
  }

  .more-btn {
    margin: 0 auto 100px auto;
    text-align: center;
    a {
      color: #000;
    }
  }
}

footer {
  .wrapper {
    @include wrapper();
    justify-content: space-between;
    padding:0 40px;
    ul {
      display: flex;
      li {
        padding-right: 30px;
        a {
          color: #000;
          font-size: 12px;
        }
      }
    }

    .copy-right {
      p {
        font-size: 10px;
        margin-top: 20px;
      }
    }
  }
}

//レスポンシブ設定
@media screen and (max-width: 900px) {
  header {
    .wrapper {
      padding:30px 40px 0 40px;
    }
  }
  main {
    padding-top: 90px;
    .wrapper {
      .production {
        width: 47%;
      }
    }
  }

  footer {
    .wrapper {
      display: block;
      ul {
       display: flex;
       margin: 0; 
      }
      .copy-right {
        p {
          margin: 0 0 10px 0;
        }
      }
    }
  }
}





