@charset "UTF-8";
/*全体の設定*/
html, body {
  height: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

/*mixinのコーナー*/
/*headerメニュー*/
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 99;
  /*ハンバーガーボタン*/
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 40px 20px 40px;
}

header .wrapper .logo {
  width: 180px;
  height: 25px;
}

header .wrapper .logo img {
  width: 100%;
  height: 100%;
}

header .humberger {
  display: block;
  position: fixed;
  z-index: 99;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

header .humberger .bar {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  right: 6px;
  background: #555;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header .humberger .bar-top {
  top: 10px;
}

header .humberger .bar-bottom {
  top: 20px;
}

header .mask nav ul {
  display: block;
  position: fixed;
  top: 40px;
  left: -500px;
  margin: 0;
}

header .mask nav ul li {
  margin-bottom: 10px;
}

header .mask nav ul li a {
  font-size: 14px;
  color: #fff;
}

/*ハンバーガーを開いたとき*/
.active-top {
  -webkit-transform: translate(-50%, 15px) rotate(45deg);
          transform: translate(-50%, 15px) rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.active-bottom {
  -webkit-transform: translate(-50%, 5px) rotate(-45deg);
          transform: translate(-50%, 5px) rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 100;
  cursor: pointer;
}

/*mainめにゅーだよ*/
main {
  padding: 70px 40px 0 40px;
  position: relative;
  z-index: 1;
}

main .wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

main .wrapper .main-logo {
  max-width: 1280px;
  margin: 40px auto 30px auto;
  font-size: 14px;
  font-weight: 525;
}

main .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .wrapper ul .production {
  width: 23%;
  padding-bottom: 30px;
}

main .wrapper ul .production :hover {
  position: relative;
  z-index: 1;
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .wrapper ul .production-img img {
  width: 100%;
}

main .wrapper ul .production-description {
  font-size: 12px;
  margin: 5px 0;
}

main .more-btn {
  margin: 0 auto 100px auto;
  text-align: center;
}

main .more-btn .btn-1 {
  width: 100%;
  color: #000;
  padding-right: 15px;
}

main .more-btn .btn-2 {
  width: 100%;
  color: #000;
  padding-left: 15px;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  min-height: 100%;
}

footer .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrapper ul li {
  padding-right: 30px;
}

footer .wrapper ul li a {
  color: #000;
  font-size: 12px;
}

footer .wrapper .copy-right p {
  font-size: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  header .wrapper {
    padding: 30px 40px 0 40px;
  }
  main {
    padding-top: 90px;
  }
  main .wrapper ul .production {
    width: 47%;
  }
  footer .wrapper {
    display: block;
  }
  footer .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  footer .wrapper .copy-right {
    padding-bottom: 10px;
  }
  footer .wrapper .copy-right p {
    margin: 0 0 10px 0;
  }
}
/*# sourceMappingURL=view-more1-style.css.map */