main {
  padding: 70px 40px 0 40px;
  position: relative;
  z-index: 1;
  .wrapper {
    margin:0 auto;
    padding-bottom: 160px; 
    max-width: 1280px;
    .main-logo {
      max-width: 1280px;
      margin: 40px auto 16px auto;
      font-size: 14px;
      font-weight: 525;
    }
    ul {
      max-width: 600px;
      li {
        display: flex;
        justify-content: space-around;
        p {
          font-size: 14px;
          line-height: 1.6rem;

        }
      }
    }
  }
}